# Default values for java-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 2
image:
  repository: 539909726087.dkr.ecr.us-east-2.amazonaws.com/cxpp/cxpp-training-enablement
  tag: latest
  pullPolicy: Always
service:
  type: ClusterIP
  port: 8080
  ssl:
    enabled: false
    port: 8443

ingress:
  enabled: false
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, OPTIONS, HEAD, DELETE"
    nginx.ingress.kubernetes.io/cors-allow-origin: "*"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "false"
  http:
    - paths: ['/cxpp-training-enablement/(.*)']
  servicePort: 8080
  tls:
    enabled: true
    secretName: wildcard-production-tls


resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
   limits:
    cpu: 500m
    memory: 900Mi
   requests:
    cpu: 300m
    memory: 500Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Config for HPA - horizontal pod scaling
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

appDynamics:
  enabled: false
  appdynamics_controller_host_name: cisco-cx-test.saas.appdynamics.com
  appdynamics_agent_application_name: pp-${DESCRIPTOR_CLOUD}-${DESCRIPTOR_LIFECYCLE}
  init_repo: 810598127841.dkr.ecr.us-east-2.amazonaws.com/appdynamics
  init_tag: sdp-javaagent-4.5.9
  appd_mount_dir: /AppServerAgent

files:
  environment.properties:
    cisco.ldap.external.url: ${cisco_ldap_external_url}
    cisco.oauth.token.url: ${cisco_oauth_token_url}
    cxp.emailapi.context.url: https://cpp-api.${CLUSTER_NAME_FULL}/email/
    cxp.emailapi.readiness.url: https://cpp-api.${CLUSTER_NAME_FULL}/email/v1/ready
    entitlement.user.party.affiliation.url: https://cpp-api.${CLUSTER_NAME_FULL}/entitlement/v1/user/party/affiliation/{partyId}

